# Created by https://www.gitignore.io/api/platformio
# Edit at https://www.gitignore.io/?templates=platformio

### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history


# End of https://www.gitignore.io/api/platformio
.ipch
.bin
.vscode/launch.json
.vscode/settings.json

.pio
